@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">For over 100 years, the American Cancer Society (ACS) has worked relentlessly to save lives and create a world with less cancer. Together with millions of our supporters worldwide, we help people stay well and get well, find cures, and fight back against cancer.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p>
            More than one million people in the United States get cancer each year. Whether you have cancer or are close to someone who does,
            understanding what to expect can help you cope. 
            Find out about cancer and what causes it, as well as in-depth information about types of cancer, 
            their risk factors, early detection, diagnosis, and treatment options.
        </p>
        <p><a class="btn btn-default" href="http://www.cancer.org/cancer/index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support & Treatment</h2>
        <p>Learn about making treatment decisions, coping with side effects, handling financial matters, caregiving, and living well after cancer.</p>
        <p><a class="btn btn-default" href="http://www.cancer.org/treatment/index">Support & Treatment &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>Cancer's biggest fear? You. Support your American Cancer Society with tax-deductible donations, volunteer opportunities, and life-changing events such as Making Strides Against Breast Cancer® and Relay For Life®.</p>        
        <p><a class="btn btn-default" href="http://www.cancer.org/involved/index">Get Involved &raquo;</a></p>
    </div>
</div>